<!doctype html>
<%= partial "head" %>
  <% if current_page.data.background_home_image %>
  <div class="background--home-image"></div> 
  <% end %>
  <%= partial "nav_small" %>

  <%= yield %>

  <!-- Ready to start -->
  <%= partial "ready" %> 
  <%= partial "footer" %>


  <%= partial "javascripts" %>
  </body>
</html>
