<!doctype html>
<%= partial "head" %>
<%= yield_content :background_image %>
<%= partial "nav_small" %>

<%= yield %>

<!-- Ready to start -->
<div class="full-width background--gray-light border--t ready show-for-medium-up">
  <%= partial "footer" %>

  <%= partial "javascripts" %>
  </body>
</html>
