<!-- CONTACT US 
<div class="show-for-small-only full-width background--gray-medium small-padding--tb-large">
  <div class="row">
    <div class="small-6 small-centered columns">
      <div class="table--full-width">
        <div class="center">
          <a href="/contact.html" class="button small">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<!-- FOOTER -->
<div class="show-for-medium-up full-width background--gray-medium padding--tb-large">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <div class="row">
        <div class="small-12 medium-3 large-3 columns">

          <ul class="no-bullet">
            <li><%= link_to 'Our Founder', '/founder.html' %></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
          <ul class="no-bullet">
            <li><h5 class="uppercase">Charlotte</h5></li>
            <li><%= link_to 'Code For Charlotte', 'http://www.codeforcharlotte.org/' %></li>
            <li><%= link_to 'Pitch Breakfast', 'http://www.pitchbreakfast.com/' %></li>
            <li><%= link_to 'Start Charlotte', 'http://www.startcharlotte.com/' %></li>			
            <li><%= link_to 'Startup Weekend', 'http://charlotte.startupweekend.org/' %></li>
          </ul>
        </div>
        <div class="small-12 medium-5 large-5 large-offset-1 columns">
          <div class="row collapse">

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
<!-- /End Ready to start -->

<div class="show-for-medium-up full-width background--gray-dark padding--t-medium">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <p>© 2014-6 It'sBspoke. All rights reserved. <%= link_to 'Terms of Use and Privacy Policy ', '/privacy-policy.html' %></p>
    </div>
  </div>
</div>
