<!-- Ready to start -->
<div class="full-width background--gray-medium padding--tb-large">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <div class="row">
        <div class="small-12 medium-3 large-3 columns">
          <ul class="no-bullet">
            <li><h5 class="uppercase">Services</h5></li>
            <li><%= link_to 'App Development', '/app-development.html' %></li>
            <li><%= link_to 'Consulting', '/consulting.html' %></li>
            <li><%= link_to 'Websites & CMS', '/web.html' %></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
          <ul class="no-bullet">
            <li><h5 class="uppercase">Services</h5></li>
            <li><%= link_to 'App Development', '/app-development.html' %></li>
            <li><%= link_to 'Consulting', '/consulting.html' %></li>
            <li><%= link_to 'Websites & CMS', '/web.html' %></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
          <ul class="no-bullet">
            <li><h5 class="uppercase">Services</h5></li>
            <li><%= link_to 'App Development', '/app-development.html' %></li>
            <li><%= link_to 'Consulting', '/consulting.html' %></li>
            <li><%= link_to 'Websites & CMS', '/web.html' %></li>
          </ul>
        </div>
        <div class="small-12 medium-3 large-3 columns">
          <ul class="no-bullet">
            <li><h5 class="uppercase">Services</h5></li>
            <li><%= link_to 'App Development', '/app-development.html' %></li>
            <li><%= link_to 'Consulting', '/consulting.html' %></li>
            <li><%= link_to 'Websites & CMS', '/web.html' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>
<!-- /End Ready to start -->

<div class="full-width background--gray-dark padding--t-medium">
  <div class="row">
    <div class="small-12 large-10 small-centered columns">
      <p>© 2014 bspoke. All right reserved. <%= link_to 'Terms of Use and Privacy Policy ', '/privacy-policy.html' %></p>
    </div>
  </div>
</div>

</section>

  <a class="exit-off-canvas"></a>

  </div>
</div>