<div class="row show-for-medium-up navigation">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <div class="large-3 columns padding--t-small">
        <img src="../img/logo.png"/>
      </div>
      <div class="large-9 columns padding--t-small">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Services</a>
            <ul class="dropdown">
              <li><%= link_to 'App Development', '/app-development.html' %></li>
              <li><%= link_to 'Websites & CRM', '/web.html' %></li>
              <li><%= link_to 'Consulting', '/consulting.html' %></li>
            </ul>
          </li>
          <li><%= link_to 'About Us', '/about.html' %></li>
          <li><%= link_to 'Contact Us', '/contact.html' %></li>
        </ul>
      </div>
    </section>
  </nav>
</div> <!-- /.row -->
















