<!doctype html>
<%= partial "head" %>
<%= partial "nav_small" %>
    
<!-- SECTION 1 -->
<div class="full-width background--red">
  <%= partial "nav" %>
  <div class="row padding--tb-medium">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row padding--tb-large">
        <div class="large-12 columns padding--tb-medium">
          <h1 class="type--white">For technology that fits you perfectly… it’s bspoke.</h1>
          </br>
        </div>
      </div>

    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width border--tb padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-12 large-11 columns">
      <div class="small-11 medium-6 large-6 columns table">
        <div class="center">
          <img class="padding--b-small" src="../img/img.png"/>
        </div>
      </div>
      <div class="small-11 medium-6 large-6 columns">
        <h2>A Novel Approach</h2>
        <p>Committed to career development and continuing education, bspoke offers a great place to begin your career in technology. We pair beginners learning on the job with experts to guide and assign work.  This combination creates great results at a low price. At bspoke, we prove technical excellence does not have to be expensive.</p>
        <p class="type--light type--semi-bold">Affordable excellence <a href=""> Contact Us </a></p>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 3 -->
<div class="full-width background--gray-light padding--tb-large">
  <div class="row">   
    <div class="small-6 medium-8 large-8 small-centered columns padding--b-medium table">
      <div class="center">
        <h1>The Team</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-8 large-8 small-centered columns">
      <div class="row">
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/circle.png" width="50%"/>
            <h3 class="no-margin-bottom">Jim Van Fleet</h3>
            <p> Title </p>
          </div>
        </div>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table">
          <div class="center">
            <img class="padding--b-small" src="../img/circle.png" width="50%"/>
            <h3 class="no-margin-bottom">Amy Ritchie</h3>
            <p> Title </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--- SECTION 4: BRIDGE -->
<div class="full-width background--red padding--tb-medium border--tb">
  <div class="row">
    <div class="small-12 large-8 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-9 columns medium-padding--rl-xlarge table" data-equalizer-watch>
          <div class="center aligned-left">
            <h4 class="padding--tb-medium">Support your team permanently by adopting the habits of exceptional technical operations.</h4>
          </div>
        </div>
        <div class="small-12 large-3 columns table" data-equalizer-watch>
          <div class="center">
            <img class="padding--b-small" src="../img/about-bspokelogo.png" width="135" />
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div>


<!--- SECTION 5-->
<div class="full-width border--tb background--img-map padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-6 large-6 large-offset-6 columns">
      <h2>Investing in the Charlotte startup community since 2008</h2>
      <p>Community is in our DNA. We’ve shared news and events with over a thousand Charlotteans via our newsletter. We’ve produced dozens of events, including Charlotte Startup Weekend and TechBreakfast CLT,  for the tech and startup communities. Connected, engaged communities have a big impact on their city, and we believe our support for Charlotte makes it an even better place for startups.</p>
      <p class="type--light type--semi-bold">Subscribe to our newsletter <a href=""> Subscribe now </a></p>
    </div>
  </div>
</div>

<!-- GLOBAL CTA -->
<div class="full-width padding--tb-medium background--blue show-for-medium-up">
  <%= partial "ready_blue" %> 
<%= partial "footer" %>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
