<!doctype html>
<%= partial "head" %>
<!-- <div class="background--consulting-head"></div> -->
<%= partial "nav_small" %>
    
<!-- SECTION 1-->
<div class="full-width background--blue">
  <%= partial "nav" %>
  <div class="row small-padding--tb-small large-padding--tb-medium">
    <div class="small-11 medium-11 large-11 small-centered columns">
      <div class="row padding--tb-large">
        <div class="large-12 columns small-padding--tb-small">
          <h1>Consulting & Support</h1>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 2 -->
<div class="full-width background--white border--tb">
  <div class="row background--consulting-jim">
    <div class="small-10 medium-12 large-12 columns small-centered">
      <div class="row" data-equalizer>
        <div class="show-for-medium-up small-11 medium-6 large-6 columns" data-equalizer-watch> &nbsp; </div>
    
        <div class="small-12 medium-6 large-6 columns table small-padding--tb-large large-padding--r-xlarge medium-padding--tb-large large-padding--tb-3xlarge" data-equalizer-watch>
          <div class="center aligned-left">
            <h2>CTO for hire</h2>
            <p>An overwhelming number of successful technical companies have a single person who bears ultimate responsibility for the proper operation of their technical systems. This role is extremely demanding and it requires a complement of support and advocacy that cannot be effectively the job of a single individual.</p>
            <p class="type--light type--semi-bold">Fast, friendly, smart support. <a href=""> Learn More </a></p>
          </div>
        </div>
        <div class="show-for-small-only small-12 medium-6 large-6 columns background--consulting" data-equalizer-watch>
          <img  src="../img/consulting-jim.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 3 -->
<div class="full-width background--gray-light medium-padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-8 large-12 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-4 columns small-padding--t-large" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-kickoff.png"/>
            <h3 class="subheader uppercase ">Project Kickoff</h3>
            <p class="text-left">If you have an idea and a budget and are ready to go, you need a partner that knows how to contextualize and form your energy into working software. Our most popular product will get your endeavor on the path to excellence.</p>
          </div>
        </div>
        <div class="small-12 large-4 columns small-padding--t-large small-border--rl-none border--rl" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-codereview.png"/>
            <h3 class="subheader uppercase">Code Review</h3>
            <p class="text-left">The most important trait of software is its ability to change. Market and technical forces require software to change over time. If your codebase has been successfully in service, but is inconvenient or impossible to change, we can tell you how to get back on track.</p>
          </div>
        </div>
        <div class="small-12 small-padding--t-large large-4 columns" data-equalizer-watch>
          <div class="center medium-padding--rl-medium">
            <img class="small-padding--b-medium" src="../img/consulting-team.png"/>
            <h3 class="subheader uppercase">Team Selection</h3>
            <p class="text-left">Budgets don’t always allow for constant work from experienced professionals on new endeavors. it’s bspoke has years of experience screening and assessing technical talent, as well as a network free from recruiter fees that we’re happy to put to use for our clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 4 -->
<div class="full-width background--red medium-padding--tb-medium small-padding--b-large border--tb">
  <div class="row">
    <div class="small-11 large-9 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-9 columns" data-equalizer-watch>
          <h4 class="padding--tb-large">Support your team permanently by adopting the habits of exceptional technical operations.</h4>
        </div>
        <div class="small-12 large-3 columns" data-equalizer-watch>
          <center>
            <%= image_tag '../img/home-consulting.png' %>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 5 -->
<div class="full-width background--white border--tb small-padding--tb-small medium-padding--tb-large">
  <div class="row padding--tb-large">
    <div class="small-11 medium-9 large-12 columns small-centered large-uncentered">
      <div class="row" data-equalizer>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns" data-equalizer-watch>
          <center>
            <img src="../img/consulting-automation.png"/>
          </center>
        </div>
        <div class="small-12 medium-12 large-6 small-centered large-uncentered columns table small-padding--t-xlarge" data-equalizer-watch>
          <div class="center aligned-left">
            <h2>Architecture Automation</h2>
            <p>Just because you are on EC2 doesn’t mean you’ve architected for the cloud. Just because you have automated tests doesn’t mean you are practicing continuous integration. Being ready to scale and grow capacity is one of the most fundamental technical challenges in today’s marketplace, and most engineers have only been trained to deliver software. Whether it’s communicating with those in the equivalent of the server closet or the boardroom, it’s bspoke can help clear the way to increased capacity for your business. 
            </p>
            <p class="type--light type--semi-bold">Think of clever cta <a href=""> Learn More </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Ready to start -->
<div class="full-width background--blue border--t ready show-for-medium-up">
  <%= partial "ready_blue" %>
<%= partial "footer" %>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
