<!doctype html>
<%= partial "head" %>
<div class="section">
  <div id="fullpage">
  <%= partial "nav_small" %>
  <div class="background--home-image"></div> 
  <div class="full-width ">
    <!-- SHOW ONLY MEDIUM AND UP -->
      <%= partial "nav" %>
    <div class="row padding--t-small">
      <div class="small-11 medium-11 large-11 small-centered columns">

        <!-- home text -->
        <div class="row padding--tb-large">
          <div class="large-12 columns padding--tb-large">
            <h1 class="alpha">We create and custom fit websites, apps and the teams that support them.</h1>
            <h3 class="type--regular padding--t-medium">Headquartered in Charlotte, NC, it's bspoke is a custom software development company that's solved business problems with software...</h3>
            </br>
            <div class="center padding--t-large">
              <a href="#" class="button large radius button--border button--transparent">Learn More</a>
            </div>
          </div>
        </div>
        <!-- End Home text  -->
      </div>
    </div>
  </div>
</div>

<!-- What we Do -->
<div class="full-width background--grid padding--tb-large">
  <div class="row">
    <div class="small-12 large-9 small-centered columns">
      <div class="center">
        <h1 class="font--thin color--dark-blue">What we can do</h1>
        <hr>
      </div>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="small-12 large-9 small-centered columns">
      <% link_to '/app-development.html' do %>
        <div class="small-12 medium-4 large-4 columns">
          <div class="center">
              <%= image_tag '../img/home-app.png' %>
            <h4 class="subheader uppercase">App Development</h4>
          </div>
        </div>
      <% end %>
      <% link_to '/consulting.html' do %>
        <div class="small-12 medium-4 large-4 columns">
          <div class="center">
            <%= image_tag '../img/home-consulting.png' %>
            <h4 class="subheader uppercase">Consulting</h4>
          </div>
        </div>
      <% end %>
      <% link_to '/web.html' do %>
        <div class="small-12 medium-4 large-4 columns">
          <div class="center">
            <%= image_tag '../img/home-web.png' %>
            <h4 class="subheader uppercase">Website & CMS</h4>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- /.row -->
</div>
<!-- /End What we do -->

<div class="section">
  <!--- Start App Development -->
  <div class="full-width background--blue padding--tb-large">
    <div class="row row--full padding--tb-large">
      <div class="small-12 medium-12 large-7 columns padding--l-zero">
        <%= image_tag '../img/home-app-graphic.png'%>
      </div>

      <div class="small-12 medium-12 large-5 large-uncentered columns small-centered padding--tb-xxlarge">
          <h2 >App Development</h2>
          <p class="type--large">Frustrated with the communication gaps, lack of vision, and ever-expanding timelines of offshore projects? Is your accountant having palpitations at the price tags of large software consultancies?  it’s bspoke has a hybrid model that allows you to find a great fit for your budget.</p>
          <p class="type--light type--semi-bold">App Development cta  <%= link_to 'Learn More', '/app-development.html' %></p>
      </div>
    </div><!-- /.row -->
  </div>
  <!-- /End App Development -->
</div>


<!-- What Makes us different -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-12 medium-7 large-5 columns padding--tb-xxlarge large-offset-1" data-equalizer-watch>
      <h2 class="padding--t-large">What makes us different</h2>
      <p class="type--large">Our founder, Jim Van Fleet, has built a reputation as a technology expert and leader in Charlotte’s entrepreneurial community. He has extinguished technical problems on sites doing $30M in daily revenue. He has built applications that have scaled to over 100k users. He has relationships with hundreds of technologists, entrepreneurs, and investors nationwide. 
      </p>
      <p class="type--light type--semi-bold">itsbspoke helps you to ...  <a href=""> Learn More </a></p>
    </div>
    <div class="small-12 medium-5 large-5 columns background--jim-home padding--rl-zero" data-equalizer-watch>
      <img class="show-for-small-only" src="../img/jim-couch-small.png" width="100%"/>
    </div>
  </div><!-- /.row -->
</div>
<!-- /End What makes us different -->
</div>
<!-- Ready to start -->
<div class="full-width background--gray-light border--t ready">
  <%= partial "ready" %> 
<%= partial "footer" %>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.slimscroll.min.js"></script>  
    <script type="text/javascript" src="javascripts/jquery.fullPage.js"></script>
    <script type="text/javascript" src="//use.typekit.net/amv8hpg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#fullpage').fullpage({
          slidesColor: ['#FFFFFF', '#FFFFFF', '#7E8F7C'],
          autoScrolling: false,

        });
      });
    </script>


