<!doctype html>
<%= partial "head" %>
<!--<div class="background background--img-web"></div>-->
<%= partial "nav_small" %> 

<!-- SECTION 1 -->
<div class="full-width background--red">
  <%= partial "nav" %>
  <div class="row">
    <div class="small-11 medium-11 large-11 small-centered columns ">
      <div class="row large-padding--tb-xxlarge small-padding--tb-large">
        <div class="large-12 columns">
          <h1>Websites, Email and CMS</h1>
          </br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 2 -->
<div class="show-for-medium-up full-width background--border background--white">
  <div class="row small-padding--tb-large">
    <div class="medium-10 large-8 small-centered columns">
      <div class="center">
        <h2>We build websites from this century</h2>
        <p>The web has come a long way, and the staff at it’s bspoke has been there from the beginning. Though mobile, cloud and big data are all the rage, websites and email have a proven track record of effectiveness. That doesn’t mean you should use yesterday’s tools to build your website, however!</p>
      </div>
    </div>
  </div>
</div>

<!--- SECTION 3  -->
<div class="full-width background--gray-light border--t small-padding--tb-large">
  <div class="row">
    <div class="small-11 medium-8 large-9 small-centered columns">
      <div class="center">
        <h2>Needs New header</h2>
        <p>Whether your organization is “mobile” or not, your audience either already is, or will be soon. Designing for mobile doesn’t have to break the bank, and we have a range of complementary electronic communication offerings.</p>
      </div>
    </div>
  </div>
</div>


<section class="full-width" id="guide">
  <!-- CENTER BORDER RED -->
  <div class="show-for-medium-up center-border--red"></div>
  <!-- WEBSITES -->
  <div class="full-width background--white border--tb small-padding--tb-large">
    <svg class="center-circle" width="60" height="60">
      <circle cx="30" cy="30" r="25" stroke="#ccc" stroke-width="3" fill="#fff" />
    </svg>
    <div id="trigger1"></div>
    <div class="show-for-medium-up center-border--gray"></div>
    <div class="row large-padding--tb-3xlarge" id="animate1" data-equalizer>
      <div class="small-12 medium-6 large-6 medium-uncentered small-centered large-uncentered columns padding--tb-xlarge large-padding--r-xlarge medium-padding--r-xlarge medium-padding--l-large" data-equalizer-watch>
        <h3 class="subheader uppercase">Websites</h3>
        <p>Sometimes all you need is a website! But you don’t feel comfortable using tools that you don’t understand. And can you get a carousel, like on that one site? It’sBspoke offers a fitting room to help you pick out the perfect modern elements for you..</p>
      </div>
      <div class="small-12 medium-6 large-6 columns table" data-equalizer-watch>
        <div class="center" data-equalizer-watch>
          <img src="../img/web-web.png"/>
        </div>
      </div>
    </div>
  </div>

  <!-- EVENT SUPPORT -->
  <div class="full-width background--gray-light border--tb small-padding--tb-large">
    <svg class="center-circle" width="60" height="60">
      <circle cx="30" cy="30" r="25" stroke="#ccc" stroke-width="3" fill="#f6f8f8" />
    </svg>
    <div class="show-for-medium-up center-border--gray"></div>
    <div class="row large-padding--tb-3xlarge" data-equalizer>
      <div class="show-for-medium-up small-12 medium-6 large-6 small-centered medium-uncentered large-uncentered columns table" data-equalizer-watch>
        <div class="center" data-equalizer-watch>
          <img src="../img/web-eventsupport.png"/>
        </div>
      </div>
      <div class="small-12 medium-6 large-6 columns padding--tb-xlarge large-padding--l-xlarge medium-padding--l-xlarge medium-padding--r-large" data-equalizer-watch>
        <h3 class="subheader uppercase">Event Support</h3>
        <p>Not every website lives forever. Sometimes you just want to put on a show! Electronic communication is essential to keep everything in sync and working smoothly. As a serial event producer, it’s bspoke knows what kind of support you need to achieve your desired results.</p>
      </div>
      <div class="show-for-small-only small-12 small-centered columns table">
        <div class="center">
          <img src="../img/web-eventsupport.png"/>
        </div>
      </div>
    </div>
  </div>

  <!-- CMS -->
  <div class="full-width background--white border--tb small-padding--tb-large">
    <svg class="center-circle" width="60" height="60">
      <circle cx="30" cy="30" r="25" stroke="#ccc" stroke-width="3" fill="#fff" />
    </svg>
    <div class="show-for-medium-up center-border--gray"></div>
    <div class="row large-padding--tb-3xlarge" data-equalizer>
      <div class="small-12 medium-6 large-6 medium-uncentered small-centered large-uncentered columns padding--tb-xlarge medium-padding--r-xlarge medium-padding--l-large large-padding--r-xlarge" data-equalizer-watch>
        <h3 class="subheader uppercase">CMS</h3>
        <p>If your team has the desire to produce new content for the site throughout its life, it’s critical to have a tool that’s easy to use.  We’re happy to show you that managing a secure content management system doesn’t have to be expensive or difficult.</p>
      </div>
      <div class="small-12 medium-6 large-6 columns table" data-equalizer-watch>
        <div class="center">
          <img src="../img/web-cms.png"/>
        </div>
      </div>
    </div>
  </div>
        
  <!-- EMAIL CAMPAIGNS -->
  <div class="full-width background--gray-light border--tb small-padding--tb-large">
    <svg class="center-circle" width="60" height="60">
      <circle cx="30" cy="30" r="25" stroke="#ccc" stroke-width="3" fill="#f6f8f8" />
    </svg>
    <div class="show-for-medium-up center-border--gray"></div>
    <div class="row large-padding--tb-3xlarge" data-equalizer>
      <div class="show-for-medium-up small-12 medium-6 large-6 small-centered medium-uncentered large-uncentered columns table" data-equalizer-watch>
        <div class="center" data-equalizer-watch>
          <img src="../img/web-email.png"/>
        </div>
      </div>
      <div class="small-12 medium-6 large-6 columns padding--tb-xlarge medium-padding--l-xlarge medium-padding--r-large large-padding--l-xlarge" data-equalizer-watch>
        <h3 class="subheader uppercase padding--t-large">Email Campaigns</h3>
        <p>People still live in their email inbox, and if you connect with your audience there, you can build a fruitful lasting relationship. We have thousands of subscribers on our rolls, and can help you get there too.</p>
      </div>
      <div class="show-for-small-only small-12 small-centered columns table">
        <div class="center">
          <img src="../img/web-email.png"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION 5 -->
<div class="full-width background--blue">
  <div class="row padding--tb-large">
    <div class="small-12 medium-9 large-12 small-centered columns">
      <div class="row" data-equalizer>
        <div class="small-12 large-4 columns padding--tb-large" data-equalizer-watch>
          <div class="center padding--rl-medium">
            <img src="../img/web-design.png"/>
            <h3 class="subheader uppercase padding--t-small font--white">Design</h3>
            <p class="text-left">If you need custom site design, we have some of the best around. If your budget won’t allow for it, however, won’t you look around our fitting room where a variety of modern techniques awaits your selection?</p>
          </div>
        </div>
        <div class="small-12 large-4 columns border--rl padding--tb-large" data-equalizer-watch>
          <div class="center padding--rl-medium">
            <img src="../img/web-integration.png"/>
            <h3 class="subheader font--white uppercase padding--t-small">Integration</h3>
            <p class="text-left">If your website collects any visitor data, are you sure it’s integrated with the rest of your operation? Are things working as smoothly as they could?  A website that meets your needs is not out of your price range.</p>
          </div>
        </div>
        <div class="small-12 large-4 columns padding--tb-large" data-equalizer-watch>
          <div class="center padding--rl-medium">
            <img src="../img/web-management.png"/>
            <h3 class="subheader font--white uppercase padding--t-small">Management</h3>
            <p class="text-left">You don’t want to deal with websites being down or insecure. It’s a pain; we know! it’s bspoke stands behind every site it produces with a maintenance contract designed to make sure that we can handle any issue with your site quickly and professionally.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--- SECTION 6 -->
<div class="full-width border--tb background--white">
  <div class="row">
    <div class="small-12 medium-11 large-12 small-centered columns" data-equalizer>
      <div class="show-for-large-up small-12 medium-12 large-6 columns background--web-presence" data-equalizer-watch>
      </div>
      <div class="small-11 small-centered medium-centered large-uncentered medium-10 large-6 columns padding--r-3xlarge presence small-padding--tb-large medium-padding--tb-3xlarge medium-padding--l-large" data-equalizer-watch>
        <h2>Own your presence</h2>
        <p >Most web consultancies want their clients to remain clients.  While others may keep you around by intimidating you with what you don’t know, itsbspoke makes it easy for you to control your own website!  We want you growing, changing, and updating right along with us.  That way, your next project will be bigger and better, and we’ll be right there for you when you’re ready.</p>
        <p class="type--light type--semi-bold">App Development cta  <a href=""> Learn More </a></p>
      </div>
      <div class="hide-for-large-up small-12 medium-12 small-centered columns table">
        <div class="center">
          <img src="../img/web-presence.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SECTION 7 -->
<div class="full-width background--white">
  <div class="row row--full" data-equalizer>
    <div class="small-12 medium-7 large-5 columns small-padding--tb-large medium-padding--tb-4xlarge large-offset-1" data-equalizer-watch>
      <h2>Why It'sBspoke?</h2>
      <p>We don’t think small budgets should limit the success of your endeavor.  It may mean that you need to focus on using simpler, more straightforward tools, though.  We want to be your partner as your needs grow and change, even if you can’t write a big check right now! 
      </p>
      <p class="type--light type--semi-bold">Ask for a price sheet  <a href=""> Learn More </a></p>
    </div>
    <div class="small-12 medium-5 large-5 columns background--img-web-jim padding--rl-zero" data-equalizer-watch>
      
    </div>
  </div>
</div>

 
<!-- GLOBAL CTA -->
<div class="full-width background--blue border--t ready show-for-medium-up">
  <%= partial "ready_blue" %> 

<%= partial "footer" %>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>

    
  </body>
</html>
